{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <div align="center">
        <h1>Edit Account info for {{current_user.username}}</h1>
    </div>
</div>

<div class="container">
    <form method="POST" action="" enctype="multipart/form-data">
        <div>
            {{form.hidden_tag()}}
        </div>
        <div class="form-row">
            <span>
                {{form.username.label(class='form-group')}}:
            </span>
            {{form.username(class='form-control')}}
        </div>
        <div class="form-row">
            <span>
                {{form.email.label(class='form-group')}}:
            </span>
            {{form.email(class='form-control')}}
        </div>
    
        <div>
            {{form.submit(class='btn btn-primary')}}
        </div>
    
    
    </form>
</div>
{% endblock %}