{% extends "base.html" %}
{% block content %}
<h1>Login</h1>
<form method="POST">
    {{form.hidden_tag()}}
    <div class="form-row">
        <span class="form-label">
            {{form.email.label}}:
        </span>
        <span class="text-input">
            {{form.email(class='form-control')}}
        </span>
    </div>
    <br>
    <div class="form-row">
        <span class="form-label">
            {{form.password.label}}:
        </span>
        <span class="text-input">
            {{form.password(class='form-control')}}
        </span>
    </div>
    <br>
    <div>
        {{form.submit(class='btn btn-primary')}}
    </div>

</form>
{% endblock %}