{% extends "base.html" %}
{% block content %}
<h1>Sign Up</h1>
<form method="POST">
    {{form.hidden_tag()}}
    <div class="form-row">
        <span>
            {{form.email.label}}:
        </span>
        <span>
            {{form.email(class='form-control')}}
        </span>
    </div>
    <br>
    <div class="form-row">
        <span>
            {{form.username.label}}:
        </span>
        <span>
            {{form.username(class='form-control')}}
        </span>
    </div>
    <br>
    <div class="form-row">
        <span class="form-label">
            {{form.password.label}}:
        </span>
        <span>
            {{form.password(class='form-control')}}
        </span>
    </div>
    <br>
    <div class="form-row">
        <span class="form-label">
            {{form.pass_confirm.label}}:
        </span>
        <span>
            {{form.pass_confirm(class='form-control')}}
        </span>
    </div>
    <br>
    <div>
        {{form.submit(class='btn')}}
    </div>
</form>
{% endblock %}